@keyframes anima1{
    from{left:0px}
    to{left:500px}
}


p{
    position:relative;
    width: 260px;
    height: 260px;
    border: 1px solid #000;
    border-radius: 10px;
    padding:10px;
    text-align: justify;
    animation-name: anima1;
    animation-duration: 3s;
}